/* ==========================================================================
   BASE E ESTILOS GERAIS
   ========================================================================== */
body {
  font-family: var(--font-body);
  color: var(--color-dark);
}

a,
a:visited {
  color: var(--color-dark);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
  text-decoration: currentColor wavy underline;
}
a:focus {
  color: var(--color-secondary);
}
a:visited {
  color: currentColor;
}

.custom-logo {
  max-height: 84px;
  width: auto;
}

.navbar-toggler {
  padding: 1rem;
}
figure {
  margin-top: 0;
}
figure,
img {
  border-radius: var(--radius-sm);
}

.proportion {
  position: relative;
  width: 100%;

  &:before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
  }

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-16x9 {
    --bs-aspect-ratio: calc(9 / 16 * 100%);
  }
}
