
/* ==========================================================================
   BASE E ESTILOS GERAIS
   ========================================================================== */
body {
  font-family: var(--font-body);
  color: var(--color-dark);
}

a,
a:visited {
  color: var(--color-dark);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
  text-decoration: currentColor wavy underline;
}
a:focus {
  color: var(--color-secondary);
}
a:visited{
  color: currentColor
}

.custom-logo {
  max-height: 84px;
  width: auto;
}

.navbar-toggler {
  padding: 1rem;
}