/* ==========================================================================
   CARDS
   ========================================================================== */
.card {
  &-image {
    height: 264px;
  }
  &-body {
    display: grid;
    row-gap: 1rem;
  }
  &-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  &-title a {
    color: var(--color-dark);
    text-decoration: none;
  }
  &-title a:hover,
  &-title a:focus {
    color: var(--color-primary);
  }
  &-description {
    font-size: 1.125rem;
  }
  &-footer {
    background: transparent;
    padding: 1rem;
    padding-top: 0;
  }
  &-link {
    position: relative;
  }
}
