
/* ==========================================================================
   CTA
   ========================================================================== */
.cta {
  background: var(--color-light);
  padding: 5.75rem 0;
  font-size: 3rem;
  font-weight: bold;
}
.cta a {
  text-decoration: none;
  color: var(--color-dark);
}
