/* ==========================================================================
Integração WP 
========================================================================== */
.button-primary .wp-block-button__link {
  background-color: transparent;
}
/* ==========================================================================
LINKS E BOTÕES
========================================================================== */

.link {
  &-text {
    display: inline-block;
    font-weight: bold;
    color: var(--color-dark) !important;
    position: relative;
    color: var(--color-dark) !important;
  }
  &-primary {
    color: var(--color-primary) !important;
    &:hover,
    &:focus,
    &:visited {
      color: var(--color-secondary) !important;
      text-decoration: currentColor wavy underline;
    }
  }
  &-white {
    color: var(--color-white) !important;
    &:hover,
    &:focus,
    &:visited {
      color: var(--color-white) !important;
      text-decoration: currentColor wavy underline;
    }
  }
&-dark{
    color: var(--color-dark) !important;
    &:hover,
    &:focus,
    &:visited {
      color: var(--color-dark) !important;
      text-decoration: currentColor wavy underline;
    }
}
  &-list {
    gap: 2rem;
    &-item {
      width: 7.75rem;
      height: 7.75rem;

      a {
        display: block;
        width: 100%;
        height: 100%;
        background: transparent no-repeat center;
        background-color: var(--color-white);
        background-size: cover;
      }
    }
  }
}

.button {
  &,
  & a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: var(--radius-sm);
    &:hover,
    &:focus {
      color: var(--color-white);
      text-decoration: none;
    }
    &-primary {
      background: var(--color-primary);
      color: var(--color-white);
      border-color: var(--color-primary);
      &:hover,
      &:focus,
      &:visited {
        background: var(--color-secondary);
        border-color: var(--color-secondary);
      }
    }
    &-secondary {
      background: var(--color-secondary);
      color: var(--color-white);
      border-color: var(--color-secondary);
      &:hover,
      &:focus,
      &:visited {
        background: var(--color-primary);
        color: var(--color-white);
        border-color: var(--color-primary);
      }
    }
    &-dark {
      background: var(--color-dark);
      color: var(--color-white);
      border-color: var(--color-dark);
      &:hover,
      &:focus,
      &:visited {
        background: var(--color-white);
        color: var(--color-dark);
        border-color: var(--color-dark);
      }
    }
  }
}
