.modal {
  &-member {
    &-body {
      padding: 2rem;
    }

    &-title {
      font-size: 3rem;
      line-height: 1;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    &-role {
      font-size: 1.125rem;
    }
    &-header {
      align-items: start;
    }
  }

  &-social {
    &-twitter {
      @extend .x;
    }
    &-linkedin {
      @extend .linkedin;
    }
    &-pinterest {
      @extend .pinterest;
    }
    &-bluesky {
      @extend .bluesky;
    }
    &-facebook {
      @extend .facebook;
    }
    &-mastodon {
      @extend .mastodon;
    }
  }
}
