.instagram {
  color: var(--instagram) !important;
}
.linkedin {
  color: var(--linkedin) !important;
}
.bluesky {
  color: var(--bluesky) !important;
}
.x {
  color: var(--x) !important;
}
.pinterest {
  color: var(--pinterest) !important;
}
.facebook {
  color: var(--facebook) !important;
}
.mastodon {
  color: var(--facebook) !important;
}
.email {
  color: var(--email) !important;
}
