/* ==========================================================================
   SEÇÕES GENÉRICAS
   ========================================================================== */
.section {
  &-container {
    margin: 6rem auto;
  }
  &-header {
    margin-bottom: 4rem;
    gap: 1.5rem;
    display: grid;
  }

  &-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
  }

  &-description {
    margin: 1.5rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
  }
}
.press,
.jobs {
  padding: 5.75rem;
}
/* ==========================================================================
   CTA
   ========================================================================== */
.cta {
  background: var(--color-light);
  font-size: 3rem;
  font-weight: bold;
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;
  a {
    text-decoration: none;
    color: var(--color-dark);
  }
}

/* ==========================================================================
   jobs
   ========================================================================== */
.jobs {
  background: var(--color-dark);
  &,
  .link-text {
    &,
    &:hover,
    &:focus,
    &:visited {
      color: var(--color-light) !important;
    }
  }

  .section-title {
    font-size: 2rem;
  }
}

/* ==========================================================================
   CLIPPING + EVENTOS
   ========================================================================== */
.press {
  background: var(--arrow);
  font-weight: bold;

  .section-title {
    font-size: 2rem;
  }
  & a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-dark);

    &:hover {
      color: var(--color-dark);
      text-decoration: currentColor wavy underline;
    }
  }
}
