/* ==========================================================================
   DEPOIMENTOS (TESTIMONIAL)
   ========================================================================== */
.testimonial {
  &-quote {
    margin-bottom: 3rem;
  }
  &-author {
    font-size: 1.25rem;
  }
  &-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &-role {
  }
  &-company {
  }
  &-image {
    &:after {
      content: "";
      position: absolute;
      background: transparent url(assets/img/picture-sign.svg) center no-repeat;
      right: 2rem;
      bottom: 1rem;
      width: 12rem;
      height: 3rem;
      z-index: 2;
      object-fit: cover;
    }
  }
}
