/* ==========================================================================
   VARIÁVEIS GLOBAIS
   ========================================================================== */
:root {
  --font-body: "Atkinson Hyperlegible", sans-serif;

  /* brand colors */
  --square: #f363f7;
  --equals: #0077c9;
  --circle: #ff7029;
  --arrow: #ffc62e;
  --logo-text: #000;

  /* main colors */
  --color-primary: #b4009e;
  --color-secondary: #4668c5;
  --color-tertiary: #ff7029;

  /* neutrals color */
  --color-white: #fff;
  --color-light: #ddd;
  --color-dark: #111;

  /* borders / radius */
  --radius-sm: 4px;

  /* Bootstrap override */
  --bs-border-radius: var(--radius-sm);
  --bs-border-radius-sm: var(--radius-sm);
  --bs-border-radius-lg: var(--radius-sm);
  --bs-border-radius-xl: var(--radius-sm);
  --bs-border-radius-xxl: var(--radius-sm);
  --bs-border-radius-2xl: var(--radius-sm);

  /* social color */
  --instagram: #e1306c;
  --linkedin: #0a66c2;
  --bluesky: #007bb5;
  --x: #000;
  --pinterest: #cc2127;
  --facebook: #3b5998;
  --mastodon: ##5a48dd;
  --email: #333;
}
