/* ==========================================================================
   VARIÁVEIS GLOBAIS
   ========================================================================== */
:root {
  /* Tipografia */
  --font-base: "Atkinson Hyperlegible", sans-serif;

  /* Cores */
  --ativo: #b4009e;
  --focado: #4668c5;
  --branco: #fff;
  --cinza-claro: #ddd;
  --cinza-escuro: #111;

  /* Diversos */
  --radius: 4px;

  /* Override Bootstrap */
  --bs-border-radius: var(--radius);
  --bs-border-radius-sm: var(--radius);
  --bs-border-radius-lg: var(--radius);
  --bs-border-radius-xl: var(--radius);
  --bs-border-radius-xxl: var(--radius);
  --bs-border-radius-2xl: var(--radius);
}

/* ==========================================================================
   BASE E GERAL
   ========================================================================== */
body {
  font-family: var(--font-base);
}

a,
a:visited {
  color: var(--cinza-escuro);
  text-decoration: none;
}
a:hover {
  color: var(--ativo);
  text-decoration: var(--ativo) wavy underline;
}
a:focus {
  color: var(--focado);
}

.custom-logo {
  max-height: 84px;
  width: auto;
}

.navbar-toggler {
  padding: 1rem;
}

/* ==========================================================================
   SEÇÕES GENÉRICAS
   ========================================================================== */
.section-container {
  margin: 6rem auto;
}

.section-header {
  margin-bottom: 4rem;
  gap: 1.5rem;
  display: grid;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}

.section-description {
  margin: 1.5rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
}

/* ==========================================================================
   LINKS E BOTÕES
   ========================================================================== */
/* Links genéricos */
.link {
  display: inline-block;
  font-weight: bold;
  color: var(--cinza-escuro);
  position: relative;
}

.link:after {
  content: "";
  background-color: transparent;
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
}

.link:hover:after {
  background-color: var(--cinza-escuro);
}

.link-block {
  padding: 1rem 3rem;
}

/* Link primário */
a.link-primario {
  color: var(--ativo);
}

a.link-primario:hover,
a.link-primario:focus,
a.link-primario:visited {
  color: var(--cinza-escuro);
    text-decoration: var(--cinza-escuro) wavy underline

}

/* Link branco */
a.link-branco {
  color: #fff;
}

a.link-branco:hover,
a.link-branco:focus,
a.link-branco:visited {
  color: #fff;
}

a.link-branco:hover:after {
  background-color: #fff !important;
}

/* Botão secundário */
.botao-secundario {
  background: var(--focado);
  color: var(--branco);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: 2px solid var(--focado);
}

.botao-secundario:hover,
.botao-secundario:focus {
  background: var(--branco);
  color: var(--ativo);
  border-color: var(--ativo);
}

/* ==========================================================================
   MENU E NAVEGAÇÃO
   ========================================================================== */
.menu-footer .nav-link,
.menu-principal .nav-link,
.menu-principal-icones .nav-link {
  color: var(--cinza-escuro);
  font-weight: bold;
  position: relative;
}

.nav-link:focus-visible {
  box-shadow: none;
}

.menu-footer .nav-link:hover,
.menu-footer .nav-link:focus,
.menu-principal .nav-link:hover,
.menu-principal .nav-link:focus,
.menu-principal-icones .nav-link:hover,
.menu-principal-icones .nav-link:focus {
  color: var(--focado);
  text-decoration: var(--focado) wavy underline;
}

.menu-footer .nav-link:hover:after,
.menu-principal .nav-link:hover:after {
  background: var(--focado);
}

.menu-principal .current-menu-item .nav-link,
.menu-principal-icones .current-menu-item .nav-link {
  color: var(--ativo);
}
.menu-principal .current-menu-item .nav-link:focus,
.menu-principal .current-menu-item .nav-link:hover{
    text-decoration: var(--ativo) wavy underline
}
.menu-footer {
  gap: 2rem;
}

/* ==========================================================================
   HERO SECTION
   ========================================================================== */
.hero-content,
.hero-picture {
  min-height: 46rem;
}

.hero-icon {
  bottom: 0;
}

.hero-picture:after {
  content: "";
  position: absolute;
  background: transparent url(assets/img/picture-sign.svg) center no-repeat;
  right: 2rem;
  bottom: 2rem;
  width: 12rem;
  height: 3rem;
  z-index: 2;
  object-fit: cover;
}

.hero-link {
  width: 8.5rem;
}

/* ==========================================================================
   PARCEIROS
   ========================================================================== */
.partners-list {
  gap: 2rem;
}

.partners-item a {
  width: 7.75rem;
  height: 7.75rem;
  background: transparent no-repeat center;
  background-size: 85%;
  background-color: var(--branco);
}

/* ==========================================================================
   CARDS
   ========================================================================== */
.card-image {
  height: 264px;
}

.card-body {
  display: grid;
  row-gap: 1rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-title a {
  color: var(--cinza-escuro);
}

.card-title a:hover,
.card-title a:focus {
  color: var(--ativo);
}

.card-description {
  font-size: 1.125rem;
}

.card-footer {
  background: transparent;
  padding-bottom: 1rem;
}

.card-link {
  position: relative;
}

.card-link:after {
  content: "";
  display: none;
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--ativo);
}

.card-link:hover:after {
  display: block;
}

/* ==========================================================================
   CTA (Call to Action)
   ========================================================================== */
.cta {
  background: var(--cinza-claro);
  padding: 5.75rem 0;
  font-size: 3rem;
  font-weight: bold;
}

.cta a {
  text-decoration: none;
  color: var(--cinza-escuro);
}

/* ==========================================================================
   NEWSLETTER
   ========================================================================== */
.newsletter input[type="email"] {
  width: 100%;
  padding: 1rem !important;
  border-color: var(--cinza-claro);
}

.input-newsletter:focus {
  outline: 2px solid var(--cinza-escuro);
}

.newsletter-info {
  font-size: 0.75rem;
  margin-top: 1rem;
}
.newsletter a {
  color: var(--cinza-escuro);
}
.newsletter a:hover,
.newsletter a:focus {
  color: var(--ativo);
}
/* ==========================================================================
   VAGAS
   ========================================================================== */
.vagas {
  background: var(--focado);
  color: var(--branco);
  padding: 5.75rem 0;
}

.vagas .section-title {
  font-size: 2rem;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  margin: 6rem auto;
}
.footer .site-branding {
  margin-bottom: 4rem;
}
.footer-links,
.footer-credits {
  font-size: 0.75rem;
}
.footer-links {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-links ul {
  list-style: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
  gap: 1.5rem;
}
.footer-links li {
  display: inline;
}

.footer-divider {
  height: 1px;
  width: 100%;
  background: var(--cinza-claro);
  margin: 4rem 0;
}

.footer-links a {
  color: var(--cinza-escuro);
}
.footer-links a:hover,
.footer-links a:focus {
  color: var(--ativo);
}
