:root {
  /* tipografia */
  --font-base: "Atkinson Hyperlegible", sans-serif;

  /* cores */
  --ativo: #b4009e;
  --focado: #4668c5;
  --branco: #fff;
  --cinza-claro: #ddd;
  --cinza-escuro: #111;

  /* diversos */
  --radius: 4px;

  /* mudanças no framework */

  --bs-border-radius: var(--radius);
  --bs-border-radius-sm: var(--radius);
  --bs-border-radius-lg: var(--radius);
  --bs-border-radius-xl: var(--radius);
  --bs-border-radius-xxl: var(--radius);
  --bs-border-radius-2xl: var(--radius);
}

/* geral */
body {
  font-family: var(--font-base);
}
a:visited {
  color: var(--escuro-escuro);
}

/* seções */
.section-container {
  margin: 6rem auto;
}
.section-header {
  margin-bottom: 4rem;
  gap: 1.5rem;
  display: grid;
}
.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: left;
}
.section-description {
  margin: 1.5rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
}
/* botão */

.link {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
.link-block {
  padding: 1rem 3rem;
}

.link {
  color: var(--escuro-escuro);
  font-weight: bold;
  position: relative;
}

.link:after {
  display: none;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--ativo);
}

.link:hover:after {
  display: block;
}
a.link-primario {
  color: var(--ativo);
}
a.link-primario:hover,
a.link-primario:focus,
a.link-primario:visited {
  color: var(--cinza-escuro);
}
a.link:hover:after {
  background-color: var(--cinza-escuro);
}
/* logo */
.custom-logo {
  max-height: 84px;
  width: auto;
}

.navbar-toggler {
  padding: 1rem;
}
/* links */
#menu-principal .nav-link:after {
  content: "";
  /* width: calc(100% - (var(--bs-navbar-nav-link-padding-x) * 2)); */
  height: 2px;
  position: absolute;
  left: var(--bs-navbar-nav-link-padding-x);
  bottom: 4px;
  display: none;
}
.nav-link:focus-visible {
  box-shadow: none;
}
#menu-icones .nav-link,
#menu-principal .nav-link {
  color: var(--escuro-escuro);
  font-weight: bold;
  position: relative;
}
#menu-icones .nav-link:hover,
#menu-icones .nav-link:focus,
#menu-principal .nav-link:hover,
#menu-principal .nav-link:focus {
  color: var(--focado);
}
#menu-icones .current-menu-item .nav-link,
#menu-principal .current-menu-item .nav-link {
  color: var(--ativo);
}

#menu-principal .nav-link:hover:after,
#menu-principal .nav-link:hover:after,
#menu-principal .current-menu-item .nav-link:after {
  display: block;
}
#menu-principal .nav-link:hover:after {
  background: var(--focado);
}
#menu-principal .current-menu-item .nav-link:after {
  background: var(--ativo);
}

/* hero */
.hero-content,
.hero-picture {
  min-height: 46rem;
}

.hero-picture:after {
  content: "";
  position: absolute;
  display: block;
  background: transparent url(assets/img/picture-sign.svg) center no-repeat;
  right: 2rem;
  bottom: 2rem;
  width: 12rem;
  height: 3rem;
  z-index: 2;
  object-fit: cover;
}

.hero-icon {
  left: calc(var(--bs-gutter-x) * 0.5);
  bottom: 0;
}

.hero-link {
  width: 8.5rem;
}
/* parceiros */
.partners-list {
  gap: 2rem;
}
.partners-item a {
  width: 7.75rem;
  height: 7.75rem;
  background: transparent no-repeat center;
  background-size: 85%;
  background-color: #fff;
}

/* cards */
.card-image {
  height: 264px;
}
.card-body {
  display: grid;
  row-gap: 1rem;
}
.card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
 .card-title a {
  color: var(--cinza-escuro);
  text-decoration: none;
}
.card-title a:hover,
.card-title a:focus {
  color: var(--ativo);
}
.card-description {
  font-size: 1.125rem;
}
.card-footer {
  background: transparent;
}
.card-link{
  position: relative;
}
.card-link:after {
  display: none;
  content: "";
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--ativo);
  width: 80%;
}

.card-link:hover:after {
  display: block;
}
/* cta */
.cta {
  background: #ddd;
  padding-top: 5.75rem;
  padding-bottom: 5.75rem;
  font-size: 3rem;
  font-weight: bold;
}
.cta a {
  text-decoration: none;
}
